/* .navbar{
    background-color: #000!important;
}.navbar{
    background-color: #000!important;
} */
.list__link{
    color: black;
}
.list__link:hover{
    color: rgb(167, 39, 149);
}
.header__top{
background: linear-gradient(190deg, rgba(255,84,137,1) 0%, rgba(254,201,237,1) 100%);
}
.title__descr{
    display: flex;
   
}