/* .navbar{
    background-color: #000!important;
}.navbar{
    background-color: #000!important;
} */
body{
    color: aliceblue;
}
.list__link{
    color: black;
}
.list__link:hover{
    color: rgb(167, 39, 149);
}
.header__top{
background: linear-gradient(190deg, rgba(255,84,137,1) 0%, rgba(254,201,237,1) 100%);
}
.title__descr-flex{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.title__btn{
    text-decoration: none;
    color: aliceblue;
    background: linear-gradient(190deg, rgba(255,84,137,1) 0%, rgba(233,0,158,1) 100%);
    border-radius: 100px;
    padding:0.5rem 2rem;
}
.preferences__list{
    display: flex;
    gap: 2rem;
    text-align: center;
    justify-content: center;
    flex-wrap:wrap;

}
.preferences__list__link{
    background: linear-gradient(190deg, rgba(255,84,137,1) 0%, rgba(233,0,158,1) 100%);
        border-radius: 100px;
        padding: 0.5rem 2rem;
      
}
.preferences__list__link:hover{
    background:rgba(255,84,137,1);


}
.list{
    list-style: none;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.trust{
    background-color: antiquewhite;
}
.steps{
    background: linear-gradient(190deg, rgba(255,84,137,1) 0%, rgba(233,0,158,1) 100%);
        border-radius: 10px;
        padding: 2rem 2rem;
        align-items: center;
         width: 20rem; 
         height: 18rem;
         display: flex;
         flex-direction: column;
         gap: 1rem;
       

}
.trust__list{
display: flex;
justify-content: center;
text-align: center;
gap: 2rem;


}
.steps__title-h4{
    width: 3rem;
    background-color: #fff;
    color: rgba(233,0,158,1);
    padding: 0.5rem 1rem;
    border-radius: 100px;
    margin: 0 auto;
}
.carousel-item-div{
 
 
}
.carousel-item-img{
    width: 20rem;
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px; /* change width */
    height: 10px; /* change height */
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 100%;  /* add border-radius */
}
.preferences__text-h3{
    text-align: left;
    color: #000;
}
.order{
    background-color:rgb(240, 93, 154);
    color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
  

}
.order-form{
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: 2rem;

}
.order__btn{
    padding: 1rem 2rem;
    background-color: rgba(233,0,158,1);
    border-radius: 100px;
    border-bottom:transparent;
    text-align: center;

}
.order-form-i{
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(245, 239, 239);
}
::placeholder{
    color: rgba(255, 255, 255, 0.486);
    font-weight: bold;
}
input[type="text"]::placeholder{
    color: rgba(255, 249, 249, 0.918);
}
.gallery__grid{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-areas:"a a e e b b d d d d" 
                        "a a e e b b d d d d"
                        "f f f f c c d d d d"
                        "f f f f c c d d d d";
}
.item-1{
grid-area: a;
}
.item-2{
    grid-area: b;
}
.item-3{
    grid-area: c;
}
.item-4{
    grid-area: d;
}
.item-5{
    grid-area: e;
}
.item-6{
    grid-area: f;
}
.gallery__img{
    width: 30rem;
}
.gallery{
    margin: 0 auto;
    width: 50rem;
}
.img-1{
width: 22rem;
}
.order__text-div{
    width: 50rem;
}
.trust__workers{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction:row;
    gap: 4rem;
    color: #000;
}
.trust__worker-p{
    width: 20rem;
}
.trust__text-h3{
    color: #000;
    text-align: center;
}
.img-trust{
   background-color: #fff;
}
.preferences__choose{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:2rem;
    padding: 2rem;

}
.preferances-img-1{
width: 12rem;
}
.preferances__choose-1{
    background-color: rgb(250, 195, 245);
    padding: 2rem;
    width: 20rem;
    height: 22rem;
    text-align: center;
    border-radius: 10px;
    
}
.pref-2{
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 100%;
    color: #000;
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    display: inline;
}
.preferances-text-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.nav-link{
    color: #fff;
 
}
.navbar{
    background-color: rgb(235, 22, 104);
    margin: 0 auto;

}
.header__content{
    margin: 0;
    padding: 0;
}
.title__descr-flex{
    padding: 2rem;
}
