/* .navbar{
    background-color: #000!important;
}.navbar{
    background-color: #000!important;
} */
body{
    color: aliceblue;
}
.list__link{
    color: black;
}
.list__link:hover{
    color: rgb(167, 39, 149);
}
.header__top{
background: linear-gradient(190deg, rgba(255,84,137,1) 0%, rgba(254,201,237,1) 100%);
}
.title__descr-flex{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.title__btn{
    text-decoration: none;
    color: aliceblue;
    background: linear-gradient(190deg, rgba(255,84,137,1) 0%, rgba(233,0,158,1) 100%);
    border-radius: 100px;
    padding:0.5rem 2rem;
}
.preferences__list{
    display: flex;
    flex-wrap: wrap;
}
.preferences__list__link{
    background: linear-gradient(190deg, rgba(255,84,137,1) 0%, rgba(233,0,158,1) 100%);
        border-radius: 100px;
        padding: 0.5rem 2rem;
}
.preferences__list__link:hover{
    background:rgba(255,84,137,1);


}
.list{
    list-style: none;
}
a{
    text-decoration: none;
    color: aliceblue;
}